
html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background-color:#212529;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size:3.5rem;
  font-weight: bold;
}
h2{
  font-size: 2rem;
  font-weight: bold;
  color:#7DE5ED;
}
sup{
  top:-0.35em;
  left:0;
}
.h33{
  color: #fff;
  padding: 1px 400px 20px;
}
h4{
  margin-top: 70px;
}
h6{
  color: #000;
  margin-bottom: 3px;
}
p{
  font-size: 14px;
  margin-bottom: 35px;
}
i{
  margin-right: 3px;
}
.white-coloured{
  background-color:#fff;
}
.black-coloured{
  background-color:#212529;
}
.i{
  transform: scale(3.5);
  margin: 40px auto 25px;
}

.h4{
  margin-top: 0;
}
.h66{
  margin-bottom: 20px;
}
.para{
  margin-top: 42px;
  font-size: 14px;
  margin-bottom: 7px;
}
.learn{
  padding-top: 15px;
  padding-bottom: 30px;
}

          /* navbar */
.navbar{
  padding-bottom: 1rem;
}
.navbar-brand{
  font-size:2.5rem;
  font-family: 'Kanit', sans-serif;
}
.nav-item{
  padding: 0 13px;
}
.navb{
  font-size: 1.2rem;
}
        /* title */
.btn2{
  font-size: 2rem;
  border: 1;
  margin: 70px 20px 20px 20px;
}
.cover-container{
  padding: 2% 7.2%;
}
.container2{
  padding: 2% 14%;
}
.vbnb{
  color:#7DE5ED;
  margin: 40px auto;
  width: 50%;
}
.iphone{
  transform: rotate(20deg);
  position: absolute;
  left: 100px;
  top: 120px;
}
        /* features */
.btn0 , .btn0:hover{
    font-size: 0.8rem;
    border: 0;
    margin: 20px 11px;
    padding: 10px 6px;
    width: 47px;
    background-color: #000;
}
.btn1 ,.btn1:hover{
  font-size: 0.8rem;
  border: 0;
  margin: 20px 11px;
  padding: 3px 6px;
  width: 47px;
  background-color: #000;
}
.btn4 ,.btn4:hover{
  font-size: 0.8rem;
  border: 0;
  margin: 20px 0 ;
  padding: 3px 6px;
  width: 47px;
  background-color: #000;
}
.btn5{
  border-radius: 25%;
  margin-bottom: 7px;
}
.pro{
  font-size: 0.6rem;
  color: #fff;
  margin-bottom: 2px;
}

.container-fluid{
  color: #000;
  margin: 0 auto;
  padding: 80px 0 110px;
  z-index:1;
  position: relative;
}
.ipad{
  margin-top: 30px;
  color:#D800A6;
}
.touchid{
  transform: scale(0.6);
}
.h1{
  color: #000;
  font-family: 'Montserrat-Black', sans-serif;
  font-size:4rem;
  line-height:2.5;
  padding-top: 0;
  padding-bottom: 15px;
}
.collg{
  padding: 0 25px;
}
          /* testimonials */
.Plans{
  padding: 70px 0 0;
}
.test{
  padding: 40px 0;
}
.col {
  padding-top: 30px;
  border: solid;
  border-left: 0;
  border-right:0;
  border-bottom: 0;
  border-top-width:2px;
  border-color: #CFD2CF;
}
 .para1{
   padding-bottom: 30px;
   border: solid;
   border-left: 0;
   border-right:0;
   border-top: 0;
   border-bottom-width:2px;
   border-color: #CFD2CF;
 }
.iph{
  color: #fff;
}
.pricing-padding{
  padding: 150px 120px;
}
.plan{
  margin-top: 20px;
}
.pricing-list{
  margin: 15px 15px;
}
.h22{
  color:#D800A6
}

.h333{
  color: #000;
  padding: 20px 0;
}
.img2{
  padding: 20px 700px 60px;
  width:100%;
}
.img1{
  transform: scale(0.8);
  padding:10px 700px 10px;
  width:100%;
}
.carousel-inner{
  padding: 50px 0 0;
}
@media (max-width: 768px) {
  .title1{
    text-align: center;
  }
  .h111{
    font-size:2.5rem;
  }
  .iphone{
    transform: rotate(0);
    position: static;
    width: 90%
  }
  .h33{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
  }
}
@media (max-width: 1008px) and (min-width:769px) {
  .title1{
    text-align: center;

  }
  .vbnb{
    padding-left: 50px;
  }
  .iphone{
    transform: rotate(0);
    position: static;
    width:140%;
    height: 90%;
    padding-top: 60px;
  }
  .btn2{
    margin-bottom: 0;
    margin-top: 60px;
  }
}
@media (max-width: 1350px) and (min-width:1008px) {
  .title1{
    text-align: center;
    width: 95%
  }
  .btn2{
    margin-bottom: 0;
    margin-top: 60px;
  }
  .iphone{
    transform: rotate(0);
    position: static;

  }
}
.fa-twitter ,.fa-instagram, .fa-envelope , .fa-facebook{
  transform: scale(1.7);
  margin: 50px 30px 30px;
}

.container2{
  background-color: #fff;
  padding-bottom: 20px;
}
